body {
    background-color: #50394c;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color:#50394c;
}
h1, p {
    text-align: center;
    color:#ffef96;
    margin: 15px;

}
form {
    width: 400px;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
fieldset {
    background-color: #f4e1d2;
    font-size: 1em;
    margin: auto;
    border:0;

}
label {
    display: block;
    margin: 10px auto 0;
}
input, textarea, select {
    margin: 0 auto 10px;
    width: 100%;
    border:0;
    min-height: 40px;
    border-radius:3px;
    background-color: #50394c;
    color: white;
}
.space {
    min-height: 40px;
    padding: 1em;
}
.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}
    
.btn {
    display: block;
    width: 100%;
    margin: 25px auto;
    height: 60px;
    font-size: 1.1rem;
    background-color: #ffef96;
    border-color: #50394c;
    border-radius: 5055px;
    color: #50394c;
}

.btn:hover {
    color: white;
}

